 *{
margin: 0;
padding: 0;
box-sizing: border-box;
 }
 
 .page{
    height: 100vh;
    width: 100%;
    background-color:rgb(160, 234, 237);
    padding-top: 60px;
 }
 .chap1{
    display: flex;
    padding-top: 10vh;
    margin: 0 auto;
    justify-content: space-evenly;
 }

 .chap2{
    display: flex;
    margin: 10vh auto;
    justify-content: space-evenly;
 }

  .chap3{
    display: flex;
    margin: 10vh auto;
    justify-content: space-evenly;
 }

.chap1 div,.chap2 div, .chap3 div{
    background-color: cadetblue;
    padding: 1em 1.5em 1em 1.5em;
    border-radius: 2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

a{
    text-decoration: none;
    color: rgb(6, 81, 84);
}
















